body {
    display: grid;
    margin: 0;
    color:whitesmoke;
    background-image: url(../imagenes/consolebackground.jpg);
    grid-template-rows: 8rem 7rem 1fr 1fr 6rem;
    grid-template-columns: 50rem 1fr 5rem 12rem;
}


header {
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    padding: 0px;
    /*border:solid;*/
}

nav {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: sans-serif;
    border-radius: 0.5rem;
    font-family: sans-serif;
    font-size: 0.8rem;
    /*border:solid;*/
}

nav ul {
    list-style-type: none;
}

nav li {
    border: solid;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0.15rem;
    margin: 0.3rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
    width: 20rem;
    background-color:black;
    color:goldenrod;
    font-weight: bold;
    text-transform: uppercase;
}

nav li:hover , .session-menu > a:hover {  /*Efecto resaltado boton*/
    background-color:goldenrod;
    color:rgb(31, 31, 31);
    border-color: transparent;
}

main {
    grid-column: 1/4;
    grid-row: 3/5;
    /*border:solid;*/
}

footer {
    grid-column: 1/5;
    grid-row: 5/6;
    display: grid;
    /*border: solid;*/
}

aside {
    grid-column: 4/5;
    grid-row: 3/5;
    /*border:solid;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    border: solid;
    border-color: goldenrod;
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: rgb(19, 19, 19);
    margin: 1rem;
    max-height: 100rem;
}

article > h2 {      /*modificar estilo de h2 cuando es titular de articulo*/
    color:goldenrod;
    background-color: transparent;

    margin-top: 0.1rem;
    margin-left: 0;
    margin-right: 0;
}

footer > p {
    font-family: serif;
    border:solid;
    border-width: 0.1rem;
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    height: 5rem;
    background-color: rgb(19, 19, 19);
    align-self: center;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    background-color: black;
    font-family: sans-serif;
    border: solid;
    border-radius: 4rem;
    margin: 0.5rem;
    padding: 0.5em;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    background-color: goldenrod;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0.5rem;
} 

h3 {
    font-size: 1.5rem;
    margin-top: 0.1rem;
}

a {
    text-decoration: none;
    color:goldenrod;
    display: contents;
}

.icon-menu {
    grid-column: 3/4;
    grid-row: 2/3;
    /*border:solid;*/
    display: grid;
}

.icon-menu > img {         /*icono de sesion (no funcional)*/
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 4rem;
    max-width: 80%;
    margin-top: 0.5rem;
    place-self: start end;
 
}

.session-menu {
    grid-column: 4/5;
    grid-row: 2/3;
    /*border:solid;*/
}

.session-menu > a {       /*estilo de los enlaces "login" y "registro"*/
    border: solid;
    display: block;
    background-color: rgb(19, 19, 19);
    border-radius: 2rem;
    border-width: 0.15rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    max-width: 7rem;
}

.container-section {        /*flex para organizar los raticulos dentro de las secciones*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.image {
    max-width: 100%;
    min-width: 15rem;
}

.articulo-foto {            /*estilo para articulos con foto*/
    max-width: 40rem;
    min-width: 20rem;
    max-height: 40rem;
    flex-grow: 2;
}

.articulo-nofoto {          /*estilo para articulos sin foto*/
    max-width: 27%;
    min-width: 10rem;
    height: fit-content;
    align-self: center;
    flex-grow: 1;
}

.comercial-ad {
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    color:aqua;
}

.comercial-ad > img {
    max-width: 90%;
    border-radius: 2rem;
}








































